.seccion1-parte1{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 624px;
    height: 599px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.seccion1-derecho {
    /* Frame 48095515 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 624px;
    height: 360px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-top: 30%;
}

.seccion1-titulo{
    /* Master Digital Skills with Ease! */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    /*font-size: 60px;*/
    line-height: 120%;
    /* or 72px */

    /* Background Color/Black */
    color: #1A2434;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.seccion1-subtitulo {
    /* Unlock Digital Mastery Effortlessly! Explore and enhance your skills with our user-friendly platform. */
    font-size: 10px;
    font-family: 'Inter';
    font-style: normal;
    /* or 36px */
    letter-spacing: 0.02em;

    /* Background Color/Black */
    color: #1A2434;

    opacity: 0.7;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.seccion1-bubujas {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 624px;
    height: 96px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}


.seccion1-burbujas-divisor{
    width: 0px;
    height: 96px;
    border: 4px solid #A4074D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.descripcion-burbujas{
    /* Frame 48095512 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 584px;
    height: 96px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.descripcion-burbujas-text{
    /* Frame 48095512 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}
.descripcion-burbujas-gente {
    /* Frame 48095513 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 224px;
    height: 64px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.botones-seccion1 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 624px;
    height: 77px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.seccion1-boton-rojo{
    /* Frame 4000 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 50px;
    gap: 14px;

    width: 304px;
    height: 77px;

    background: #A4074D;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    color: white;
  font-size: 22px;
}
.seccion1-boton-blanco{
    /* Frame 4001 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 32px;
    gap: 16px;

    width: 304px;
    height: 77px;

    border: 1px solid #A4074D;
    filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.04));
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    background-color: white;
    font-size: 22px;
}

.logos-seccion1 {
    /* Frame 48095551 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 624px;
    height: 82px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.seccion1-parte2 {
    /* Rectangle 1455 */

    width: 405px;
    height: 666px;

    background: url(.jpg);
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}

.contenedor1{
        /* Frame 48095552 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 80px;
    gap: 251px;
    isolation: isolate;

    width: 1440px;
    height: 929px;

    /* Background Color/Bright Blue */
    background: #F9FCFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.seccion1-parte3{
    /* Frame 48095507 */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 16px;

        position: absolute;
        width: 296px;
        height: 176px;
        left: 736px;
        top: 165px;

        /* Background Color/White */
        background: #FFFFFF;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;

        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
        z-index: 2;

}

.titulo-parte3 {
/* Certified Instructor */
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    /* Bckground Color/Black */
    color: #1A2434;
    /* Inside auto layout */
    flex: none;
}

.contenido-instructor{
    /* Frame 48095527 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 166px;
    height: 42px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

.seccion1-foto-instructor{
    /* Ellipse 1139 */

    width: 42px;
    height: 42px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;

}
.seccion1-descripcion-instructor{
    /* Frame 48095506 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 116px;
    height: 42px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.nombre-instructor{
    font-size: 0.9em;
}

.clase-instructor{

    font-family: 'Poppins';
    font-style: normal;
    font-size: 11px;
    line-height: 140%;
    /* identical to box height, or 20px */

    color: #575455;

}