/* Frame 48095516 */

/* Auto layout */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 0px;
    gap: 295px;

    width: 1440px;
    height: 95px;

    /* Background Color/Bright Blue */
    background: #F9FCFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

/* Frame 48095501 */

.menu-items{

    /* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 48px;

margin: 0 auto;
width: 444px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.search-header {
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

margin: 0 auto;
width: 367px;
height: 55px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}

.contenedor1{
    width: 1440px;
    height: 929px;
    /*background-color: red;*/
}

.texto{
    width:624px;
    height:599px;
    /*background-color: blue;*/
    margin: 0;
    padding: 0;
}

/*.texto1{
    font-family: Plus Jakarta Sans;
    font-size: 60px;    
    color: #1A2434;
}*/


.contenedor2{
    width: 1440px;
    height: 929px;
    /*background-color: red;*/
}

.texto{
    width:624px;
    height:72px;+
    /*background-color: blue;*/
    margin: 0;
    padding: 0;
}

.texto2{
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    color: #1A2434
}

